Button{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-background-color: #7f5af0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-pref-width: 140;
    -fx-pref-height: 38;

}

Button:pressed{
    -fx-translate-y: 4px;
    -fx-background-color: #443181;
    -fx-translate-x: -2px ;
}

TextField{
    -fx-font-family: Consolas;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.Label{
    -fx-font-family: Consolas;
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

TableColumn{
    -fx-font-family: Consolas;
    -fx-font-size: 10px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-radius: 8 px;

}

TableView{
    -fx-font-family: Consolas;
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 15px;
}

